<%= render 'layouts/navbar' %>

<div class="container light-style flex-grow-1 container-p-y mt-5">
  <div class="card overflow-hidden">


    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Product</th>
          <th scope="col">Status</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
    </table>


  </div>
</div>

<%= render 'layouts/footer' %>
